### What we want to do here

**Salary Parsing**

**Company name only**

**state field**

**age of company**

**parsing of job description(Python etc)**

In [195]:
#importing necessary libraries

import pandas as pd

In [196]:
#reading csv
df=pd.read_csv('/Users/bibekrai/workspace/DS_salary/glassdoor_jobs.csv')

# Salary Parsing

In [197]:
df=df[df['Salary Estimate']!='-1']

In [198]:
df=df.drop(columns='Unnamed: 0')

In [199]:
df['hourly_salary']=df['Salary Estimate'].apply(lambda x:1 if 'per hour' in x.lower() else 0 )

In [200]:
df['employer_provided_salary']=df['Salary Estimate'].apply(lambda x:1 if 'employer provided salary' in x.lower() else 0 )

In [201]:
salary=df['Salary Estimate'].apply(lambda x:x.split('(')[0])

In [202]:
salary.head()

0     $53K-$91K
1    $63K-$112K
2     $80K-$90K
3     $56K-$97K
4    $86K-$143K
Name: Salary Estimate, dtype: object

In [203]:
min_KD=salary.apply(lambda x:x.replace('$','').replace('K','').replace('Per Hour',''))

In [204]:
min_KD.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

In [205]:
min_hr=df['Salary Estimate'].apply(lambda x:x.lower().replace('per hour','').replace('employer salary provided',''))

In [206]:
df['min_salary'] = min_KD.apply(lambda x: int(x.split('-')[0]) if x.split('-')[0].isdigit() else None)

In [207]:
df['max_salary'] = min_KD.apply(lambda x: int(x.split('-')[1]) if x.split('-')[1].isdigit() else int(x.split('-')[1]))

In [208]:
df['min_salary']

0      53.0
1      63.0
2      80.0
3      56.0
4      86.0
       ...
950    58.0
951    72.0
952    56.0
953    95.0
955    61.0
Name: min_salary, Length: 742, dtype: float64

In [209]:
df['max_salary']

0       91
1      112
2       90
3       97
4      143
      ...
950    111
951    133
952     91
953    160
955    126
Name: max_salary, Length: 742, dtype: int64

In [210]:
df.dtypes

Job Title                    object
Salary Estimate              object
Job Description              object
Rating                      float64
Company Name                 object
Location                     object
Headquarters                 object
Size                         object
Founded                       int64
Type of ownership            object
Industry                     object
Sector                       object
Revenue                      object
Competitors                  object
hourly_salary                 int64
employer_provided_salary      int64
min_salary                  float64
max_salary                    int64
dtype: object

In [211]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [212]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly_salary,employer_provided_salary,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53.0,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63.0,112,87.5
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80.0,90,85.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56.0,97,76.5
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86.0,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58.0,111,84.5
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72.0,133,102.5
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56.0,91,73.5
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95.0,160,127.5
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61.0,126,93.5

# Company Name Extraction

In [213]:
df['company_txt']=df.apply(lambda x:x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis=1)

# Same state or not

In [214]:
df['state']=df.apply(lambda x:1 if x['Location']==x['Headquarters'] else 0,axis=1)

In [215]:
df['job_state']=df['Location'].apply(lambda x:x.split(',')[1])

# age of company

In [216]:
df['age']=df['Founded'].apply(lambda x:x if x<1 else 2023-x)

# parsing of job description

In [217]:
#python

df['python']=df['Job Description'].apply(lambda x:1 if 'python' in x.lower() else 0)

In [218]:
# R Language

df['R']=df['Job Description'].apply(lambda x:1 if 'r studio' in x.lower() else 0)

In [219]:
# spark

df['spark']=df['Job Description'].apply(lambda x:1 if 'spark' in x.lower() else 0)

In [220]:
# aws

df['aws']=df['Job Description'].apply(lambda x:1 if 'aws' in x.lower() else 0)

In [221]:
# excel 

df['excel']=df['Job Description'].apply(lambda x:1 if 'excel' in x.lower() else 0)

In [222]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,state,job_state,age,python,R,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,0,NM,50,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,0,MD,39,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,1,FL,13,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,1,WA,58,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,1,NY,25,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,84.5,GSK\n,0,MA,193,0,0,0,1,0
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,102.5,Eventbrite\n,0,TN,17,1,0,1,1,0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,73.5,Software Engineering Institute\n,1,PA,39,0,0,0,0,1
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,127.5,"Numeric, LLC\n",0,PA,-1,0,0,0,0,1
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,93.5,Riverside Research Institute\n,0,OH,56,1,0,0,0,0

In [223]:
df.to_csv('Cleaned_data.csv',index=True)